@font-face {
  font-family: "monument";
  src: url("../Font/monument.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f7;
}

.main header {
  padding: 30px 40px;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 38px;
  font-family: "monument";
  color: #ffffff;
  text-transform: uppercase;
}

.logo h1 span {
  color: #000;
}

.main header button {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all ease-in;
}

.button:hover {
  background-color: #0000;
  color: #ffffff;
}

.main header .userdetail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main header .userdetail p {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 22px;
}
/* Modal  */
.hide {
  display: none;
}

.model {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #00000070;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model .form {
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.model .form .close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.model .form .close h1 {
  font-size: 28px;
  font-weight: 800;
}

.model .form .close i {
  font-size: 28px;
  cursor: pointer;
}

.model .form form {
  width: 500px;
  padding: 20px 0px;
}

.model .form form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.model .form form textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  height: 100px;
}

.model .form form .btn {
  text-align: center;
}

.model .form form .btn button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  margin-top: 30px;
  cursor: pointer;
}

/* createblog */
.createblog {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.createblog button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  margin-top: 30px;
  cursor: pointer;
}

.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  flex-wrap: wrap;
  gap: 40px;
}

.blogs .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.blogs .card {
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(46, 46, 46, 0.22);
  width: 340px;
  border-radius: 10px;
}

.blogs .card .iamge {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  height: 250px;
}

.blogs .card .iamge img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.blogs .card .title {
  padding: 0px 20px;
}

.blogs .card .title h1 {
  font-size: 22px;
  color: #ff4b2b;
  padding: 10px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: 700;
}

.blogs .card .content {
  padding: 0px 20px;
}

.blogs .card .content p {
  color: gray;
  font-size: 14px;
  padding: 10px 0 23px 0px;
  font-family: sans-serif;
}

.blogs .card .author {
  display: flex;
  padding: 10px 20px;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
  background: #ff4b2b;
  color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
}
.blogs .card .author .pbtn{
    display: flex;
    gap: 10px;
}
.blogs .card .author .pbtn button{
    background: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 3px 8px;
    text-transform: uppercase;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
}
.search input{
    width: 800px;
    border-radius: 10px;
    border:1px solid #4f4f4f00;
    padding: 10px 4px;
}